* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1400px;
  background-color: #ffff;
  font-family: "Inter", sans-serif;
}
header {
  width: 80%;
  display: flex;
  height: 60px;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  padding: 35px 0px 25px;
}
.navContainer {
  display: flex;
  gap: 100px;
}
.navItems {
  display: flex;
  list-style: none;
  gap: 30px;
  align-items: center;
}
.inputContainer {
  display: flex;
  align-items: center;
  height: 20px;
  gap: 14px;
}
.searchField {
  border: none;
  outline: none;
  height: 20px;
  padding: 8px;
}
.searchIcon {
  cursor: pointer;
}

.logoText {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}
.navText {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}
.iconLink {
  display: flex;
}
.navIcon {
  width: 20px;
  height: 20px;
}
.heroContainer {
  width: 100%;
  height: 470px;
  background-color: #fbfbfb;
  display: flex;
  padding: 70px 30px;
  justify-content: space-around;
}
.heroTitle {
  font-size: 60px;
  line-height: 70px;
  font-weight: 700;
  width: max-content;
  height: min-content;
  margin-top: 50px;
}
.heroText {
  font-size: 30px;
  line-height: 35px;
  font-weight: 400;
  color: #4a5568;
}

@media screen and (max-width: 936px) {
  .inputContainer {
    display: none;
  }
  .heroTitle {
    font-size: 50px;
    line-height: 45px;
  }
  .heroText {
    font-size: 25px;
    line-height: 30px;
  }
  .heroImage {
    width: 400px;
    height: 300px;
  }
}
@media screen and (max-width: 785px) {
  .heroTitle {
    font-size: 40px;
    line-height: 30px;
  }
  .heroText {
    font-size: 15px;
    line-height: 20px;
  }
  .coffeeImage {
    width: 50px;
    height: 50px;
  }
  .heroImage {
    width: 300px;
    height: 250px;
  }
}
@media screen and (max-width: 640px) {
  .heroContainer {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
}
@media screen and (max-width: 540px) {
  header {
    width: 90%;
  }
  .navItems {
    gap: 15px;
  }
}
