* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1400px;
  background-color: #ffff;
  font-family: "Inter", sans-serif;
}
header {
  width: 80%;
  display: flex;
  height: 60px;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  padding: 35px 0px 25px;
}
.navContainer {
  display: flex;
  gap: 100px;
}
.navItems {
  display: flex;
  list-style: none;
  gap: 30px;
  align-items: center;
}
.inputContainer {
  display: flex;
  align-items: center;
  height: 20px;
  gap: 14px;
}
.searchField {
  border: none;
  outline: none;
  height: 20px;
  padding: 8px;
}
.searchIcon {
  cursor: pointer;
}

.logoText {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}
.navText {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}
.iconLink {
  display: flex;
}
.navIcon {
  width: 20px;
  height: 20px;
}
.miniblogContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.heroContainer {
  width: 100%;
  height: 470px;
  background-color: #fbfbfb;
  display: flex;
  padding: 70px 30px;
  justify-content: space-around;
}
.heroTitle {
  font-size: 60px;
  line-height: 70px;
  font-weight: 700;
  width: max-content;
  height: min-content;
  margin-top: 50px;
}
.heroText {
  font-size: 30px;
  line-height: 35px;
  font-weight: 400;
  color: #4a5568;
}
.articleContainer {
  display: flex;
  margin: auto;
  width: 80%;
  border: 1px solid #e2e2e2;
  box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
  border-radius: 5px;
  height: auto;
  justify-content: space-between;
}
.articleIntro {
  width: 50%;
  padding: 50px;
  gap: 30px;
  display: flex;
  flex-direction: column;
}
.articleTitle {
  font-size: 30px;
  color: #2d3748;
}
.articleDesc {
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  color: #718096;
}
.articleInfo {
  display: flex;
  justify-content: space-between;
}
.articleDate,
.readMore {
  font-size: 12px;
  line-height: 15px;
}
.articleDate {
  font-weight: 400;
  color: #718096;
}
.readMore {
  color: #2d3748;
  text-decoration: none;
  font-weight: 700;
}
.readMore:hover {
  text-decoration: underline;
}
.articleCardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: auto;
  width: 80%;
  gap: 34px;
}
.cardContainer {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cardTitle {
  font-size: 20px;
  line-height: 25px;
}
.cardIntro {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.blogContainer {
  width: 80%;
  display: flex;
  margin: auto;
  background-color: #f7fafc;
  justify-content: space-between;
}
.blogIntro {
  padding: 90px 75px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.blogTitle {
  font-size: 40px;
  line-height: 45px;
  color: #000000;
}
.blogContent {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #718096;
}
.readMoreBlog {
  font-weight: 700;
  font-family: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}
.readMoreBlog:hover {
  text-decoration: underline;
}
@media screen and (max-width: 1200px) {
  .blogContainer {
    flex-direction: column-reverse;
    align-items: center;
  }
  .cardImage {
    min-width: -webkit-fill-available;
  }
}
@media screen and (max-width: 1000px) {
  .profileImage {
    width: 400px;
  }
}
@media screen and (max-width: 936px) {
  .inputContainer {
    display: none;
  }
  .heroTitle {
    font-size: 50px;
    line-height: 45px;
  }
  .heroText {
    font-size: 25px;
    line-height: 30px;
  }
  .heroImage {
    width: 400px;
    height: 300px;
  }
  .profileImage {
    width: 360px;
  }
  .articleIntro {
    padding: 30px;
  }
}
@media screen and (max-width: 785px) {
  .heroTitle {
    font-size: 40px;
    line-height: 30px;
  }
  .heroText {
    font-size: 15px;
    line-height: 20px;
  }
  .coffeeImage {
    width: 50px;
    height: 50px;
  }
  .heroImage {
    width: 300px;
    height: 250px;
  }
  .profileImage {
    width: 300px;
  }
  .articleContainer {
    width: 90%;
  }
  .articleTitle {
    font-size: 25px;
  }
  .articleDesc {
    font-size: 12px;
  }
}
@media screen and (max-width: 640px) {
  .heroContainer {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  .articleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .articleIntro {
    width: 90%;
    order: 2;
  }
  .profileImage {
    width: 430px;
  }
  .blogIntro {
    padding: 60px 45px;
  }
  .blogTitle {
    font-size: 35px;
  }
  .blogContent {
    font-size: 12px;
  }
}
@media screen and (max-width: 540px) {
  header {
    width: 90%;
  }
  .navItems {
    gap: 15px;
  }
  .blogIntro {
    padding: 30px;
  }
}
